@tailwind base;
@tailwind components;
@tailwind utilities;
@import './css/scrollbar.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Pretendard-Medium";
  font-weight: normal;
  src: url("./fonts/Pretendard-Medium.otf") format("truetype");
}

@font-face {
  font-family: "KoPubWorld Dotum_Pro Medium";
  font-weight: normal;
  src: url("./fonts/KoPubWorld Dotum_Pro Medium.otf") format("truetype");
}

body {
  font-family: "Pretendard-Medium";
}

.relay-book {
  font-family: "KoPubWorld Dotum_Pro Medium";
}